/**************************************************************************
Background colour, fonts, margins, all are done here
**************************************************************************/
body {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
}

/**************************************************************************
All the goodness of links
**************************************************************************/	
a:link, a:visited, a:active {
	color: #ff090a;
	text-decoration: none;
}

/**************************************************************************
Need I comment?
**************************************************************************/
a:hover {
	text-decoration: underline;
	color: #ff090a;
}


/**************************************************************************
This is the giant white box that holds everything together
**************************************************************************/
#thebox {
	width: 75%;
	background-color: white;
	color: #666;
	border: 1px #cccccc solid;
	margin: 50px auto 0px auto;
	padding: 0px 20px 0 20px
}

/**************************************************************************
This was the best way I thought they orange square logo thingy could be 
displayed. The logo coding looks really messy and rather horrible. I'm sure 
there are better ways of doing this. Please drop me a line if you know how.
**************************************************************************/
#logo { 
	text-align: center;
	width: 145px;
	margin: 0px 5px 30px -10px;
	padding: 30px 10px 5px 10px;
	background-color: #ff090a;
	color: #FFFFFF;
	font-family: Calibri, sans-serif;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 1px;
	/*text-transform: uppercase;*/
}

/**************************************************************************
Navigation bar, lists, and links - Uses Gill Sans for the good ol' Mac. 
I'm using different linking styles for the navigation bar. Also, <li> tags 
are used.
**************************************************************************/
#nav {
	width: 455px;
	margin: -50px 0px 50px 	250px;
	padding: 0px 0px 0px 0px;
	color: #999;
	font-family: Calibri, sans-serif;
	font-weight: normal;
	font-size: 11px;
}

#nav li {
	list-style: none;
	display: inline;
	margin-right: 20px;
}

#nav a {
	font-size: 16px;
	font-weight: bold;
	color: #999;
	text-decoration: none;
}

#nav a:hover {
	color: #ff090a;
	text-decoration: underline overline;
}

/**************************************************************************
The content - full of goodness and textaulity, hehe.
**************************************************************************/
#content {
	color: #666;
	font-family: Helvetica, Verdana, sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 10px 10px;
}

/**************************************************************************
Header #1 - This header displays the topic name of text
**************************************************************************/
#content h1 {
	font-size: 29px;
	border-left: #ff090a solid;
	border-left-width: 25px;
	border-radius: 0px 15px 15px 0px;
	background: #999999;
	color: white;
	padding: 5px;
	text-align: center;
}

#content h1 a:link, a:visited, a:active {
	color: #ff090a;
	font-family: 'Gill Sans', Verdana, Helvetica, sans-serif;
	font-weight: normal;
}

#content h1 a:hover {
	text-decoration: underline;
	font-family: 'Gill Sans', Verdana, Helvetica, sans-serif;
	color: #ff090a;
}

/**************************************************************************
Header #2 - This header displays the date
**************************************************************************/

#content h2 { 
font-size: 11px;
letter-spacing: 3px;
text-transform: uppercase;
}

#foot {

text-align: center;
color: #696969;
}

table {
	text-align: left;
}
