{% extends "templates/newlayout.jinja2" %}
{% block body %}
<article>
  <h2>  {{ entry.title }}</h2>
  <hr/>
  <p>{{ entry.body }}</p>
  <hr/>
  <p>Created <strong title="{{ entry.created }}">{{entry.created}}</strong></p>
</article>
{% endblock %}
